
.DS_Store
web/package-lock.json
package-lock.json
node_modules/*
web/performance.xlsx
cleanup_scripts/table_backup.html
web/src/assets/resources/clinicaltrialsgov_full.png
web/src/assets/resources/omicsdi_48x48.png
web/src/assets/resources/who.jpg
web/src/assets/resources/who_ictrp.png
web/src/assets/resources/zenodo.png
web/src/assets/resources/dataverse_project.png
web/src/assets/logo-full-white-01.png
web/src/assets/resources/figshare.png
web/src/assets/resources/who.png
web/src/assets/resources/litcovid.ai
web/src/assets/logo-full-01.png
web/src/assets/resources/litcovid2.png
web/sitemap_cron.log
web/src/assets/geo/countries_fused.json
web/src/assets/home/api_full_url.png
web/src/assets/home/api_resources_full.png
performance/*
web/src/assets/geo/US_counties_archive.json
web/src/assets/geo/US_metro_archive.json
web/src/assets/resources/biorxiv_full.png
web/src/assets/resources/immport_full.png
web/src/assets/resources/dataverse_full.png
web/src/assets/resources/imperial_full.png
web/src/assets/resources/jhu_full.png
web/src/assets/resources/litcovid_pubmed_full.png
web/src/assets/resources/medrxiv_full.png
web/src/assets/resources/nih_full.png
web/src/assets/resources/omicsdi_full.png
web/src/assets/resources/naturalearth_full.png
web/src/assets/resources/pubmed-logo-white.svg
web/src/assets/geo/2021-02-07-natural-earth-admin1.R
web/src/assets/map_stylized.ai
web/src/assets/sequencing.ai
curated_reports_prep/curated_tester.ipynb
*.ipynb
*.log

#.idea
.idea
