// --- fonts, default colors ---
#app {
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: $base-grey;
}

#app text {
    font-family: $font-family;
}

// --- svg ---
.axis--x text,
.axis--y text,
.default-black {
    fill: $base-grey;
}

// --- common useful things ---
.router-link-black {
  color: $base-grey !important;
}

.hidden {
  display: none;
}

.disabled {
  opacity: 0.5;
  cursor: auto !important;
  pointer-events: none !important;
}

.no-underline{
  text-decoration: none;
}

.box-shadow {
  box-shadow: 1px 1px 2px 2px $grey-alpha15;
}

.fill-primary-light {
  background: lighten($primary-color, 25%)
}
