// --- fonts, default colors ---
#app {
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: $base-grey;
}

#app text {
    font-family: $font-family;
}

// --- svg ---
.axis--x text,
.axis--y text,
.default-black {
    fill: $base-grey;
}

@media only screen and (max-width: 600px) {
  .hero{
    background-position: center;
    background-size: cover;
    background-image: none;
  }
  p.focustext{
    font-size: 19px;
  }
}

.hero{
  background-position: center;
  background-size: cover;
  background-image: url("~@/assets/hero-01.svg");
}

.nav-hero{
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("~@/assets/navback-01.svg");
}

.back-1{
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("~@/assets/back1.png");
}

.back-2{
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("~@/assets/back2.png");
}

// --- common useful things ---
.router-link-black {
  color: $base-grey !important;
}

.full-page{
  min-height: 100vh;
}

.half-page{
  min-height: 50vh;
}

.main{
  overflow: hidden;
}

p.focustext{
  font-size: 25px;
}
.hidden {
  display: none;
}

.disabled {
  opacity: 0.5;
  cursor: auto !important;
  pointer-events: none !important;
}

.no-underline{
  text-decoration: none;
}

.box-shadow {
  box-shadow: 1px 1px 2px 2px $grey-alpha15;
}

.fill-primary-light {
  background: lighten($primary-color, 25%)
}

.text-main{
  color: $primary-color;
}

.text-sec{
  color: $secondary-color;
}

.text-highlight{
  color: $warning-color;
}

.bg-light{
  background-color: $lightback;
}

.bg-main{
  background-color: $primary-color;
    &__lighter{
      background-color: lighten($primary-color,20%);
    }
    &__darker{
      background-color: darken($primary-color,10%);
    }
}

.bg-sec{
  background-color: $secondary-color;
  &__lighter{
    background-color: lighten($secondary-color,20%);
  }
  &__darker{
    background-color: darken($secondary-color,10%);
  }
}

.bg-highlight{
  background-color: $warning-color;
  &__lighter{
    background-color: lighten($warning-color,20%);
  }
  &__darker{
    background-color: darken($warning-color,10%);
  }
}

.bg-grey{
  background-color: $base-grey;
  &__lighter{
    background-color: lighten($base-grey,20%);
  }
  &__lightest{
    background-color: lighten($base-grey,70%);
  }
  &__darker{
    background-color: darken($base-grey,10%);
  }
}
