// --- loading spinner ---

.loader {
  position: fixed;
  z-index: 100;
  top: calc(50vh - 50px) !important;
  left: calc(50vw - 50px) !important;
}
// --- buttons ---

button {
  line-height: 1.5em;
  font-size: 1em;
  fill: white;
  font-family: $font-family;
  margin-right: 0.25em;
  margin-left: 0.25em;
  margin-bottom: 0.25em;
  border-color: $grey-40;
  cursor: pointer;

  &:focus {
    outline: none !important;
  }

  &.chip {
    border-radius: 1em;
    display: flex;
    align-items: center;
    padding: 2px 8px;
    white-space: nowrap;
    cursor: pointer;

    & .remove-btn {
      margin-left: 0.25em;
      font-size: 0.75em;
    }
  }
}

.btn-main-outline a {
  color: $primary-color;

  &:hover {
    color: white !important;
  }
}

.btn-no-outline {
  color: $secondary-color;
  transition: all 0.5s;
  // padding: 0.5rem;
  text-transform: uppercase;

  &:hover {
    background: $primary-color !important;
    color: white;
    text-decoration: none;
  }
}

.all-selected,
.to-add.all-selected,
button.chip:hover {
  background: #6c757d !important;
  color: white;

  & .remove-btn {
    color: $warning-color !important;
  }
}

.to-add {
  background: #DDD !important;

  & .add-btn {
    color: $grey-60 !important;
  }
}

button.chip.to-add:hover {
  background: #DDD !important;
  color: $base-grey;
  cursor: default;
  // background: $primary-color !important;
  & .add-btn {
    color: white !important;
  }
}

.btn-main {
  background: $primary-color !important;
  border: $primary-color 2px solid !important;
  color: white;
  transition: all 0.5s;
  text-transform: uppercase;

  &:hover {
    background: $secondary-color !important;
    color: white;
  }

  &-outline {
    background: transparent;
    border: $primary-color 2px solid !important;
    color: $secondary-color;
    transition: all 0.5s;
    text-transform: uppercase;

    &:hover {
      background: $primary-color !important;
      color: white;
    }
  }

  &-flat {
    background: transparent;
    border: none !important;
    color: $secondary-color;
    transition: all 0.5s;
    // text-transform:uppercase;
    &:hover {
      background: $primary-color !important;
      color: white !important;
    }
  }
}

.btn-sec {
  background: $secondary-color !important;
  color: white;
  transition: all 0.5s;
  text-transform: uppercase;

  &:hover {
    background: $primary-color !important;
    color: white;
  }
}

.btn-grey {
  background: #DDD !important;
  border: #AAA 1px solid !important;
  color: #888;
  transition: all 0.5s;
  text-transform: uppercase;

  &:hover {
    background: #AAA !important;
    color: white;
    text-decoration: none !important;
  }

  &-flat {
    border: none !important;
    background: #DDD !important;
    color: #666;
    transition: all 0.5s;
    text-transform: uppercase;

    &:hover {
      background: #AAA !important;
      color: white;
      text-decoration: none !important;
    }
  }

  &-outline {
    background: transparent;
    border: #AAA 1px solid !important;
    color: #888;
    transition: all 0.5s;
    text-transform: uppercase;

    &:hover {
      background: #BBB !important;
      color: white;
    }
  }
}

.btn-accent {
  background: $warning-color !important;
  color: white;
  transition: all 0.5s;
  text-transform: uppercase;

  &:hover {
    background: darken($warning-color, 20%) !important;
    color: white;
  }

  &-outline {
    background: transparent;
    border: darken($warning-color, 5%) 2px solid !important;
    color: $warning-color;
    transition: all 0.5s;
    text-transform: uppercase;

    &:hover {
      background: $warning-color !important;
      color: white;
    }
  }

  &-flat {
    background: transparent;
    border: none !important;
    // color: $warning-color;
    transition: all 0.5s;
    // text-transform:uppercase;
    &:hover {
      background: $warning-color !important;
      color: white !important;
    }
  }
}

.btn-accent:disabled {
  background: #CCC !important;
  color: #444 !important;
  cursor: default !important;
}

.btn-outline-secondary:hover {
  background: #6c757d !important;
  color: white;
}

.chip.btn-outline-secondary-no-hover:hover {
  background: white !important;
  color: inherit !important;
  cursor: default;
}

.MOC,
.MOI,
.VOC,
.VOI,
.VUM {
  padding: 0.35rem;
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 1px;
  line-height: 1;
  flex-shrink: 0;
  font-size: small;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  // font-weight: 700;
}
$vum-color: #edc949;

.MOC,
.VOC {
  background: lighten($publication-color, 35%);
  color: $publication-color;
  border-color: $publication-color;
}

.MOI,
.VOI {
  background: lighten($website-color, 40%);
  color: $website-color;
  border-color: $website-color;
}

.VUM {
  background: lighten($vum-color, 35%);
  color: darken($vum-color, 20%);
  border-color: darken($vum-color, 20%);
}

.VOC-color {
  color: $publication-color;
}

.VOI-color {
  color: $website-color;
}

.VUM-color {
  color: darken($vum-color, 20%);
}

.moc,
.voc {
  background: lighten($publication-color, 35%);
  color: $publication-color;
  border-color: $publication-color;
  text-align: center;
}

.moi,
.voi {
  background: lighten($website-color, 40%);
  color: $website-color;
  border-color: $website-color;
}

.vum {
  background: lighten($vum-color, 35%);
  color: darken($vum-color, 20%);
  border-color: darken($vum-color, 20%);
}

.custom {
  background: lighten($primary-color, 70%);
  color: $secondary-color;
}
// toggle button
$toggle-color: $warning-color;
$toggle-height: 16px;
$toggle-height2: 24px;

*,
*:after,
*:before {
  transition: 0.25s ease-in-out;
}

.checkbox-label {
  display: block;
  background: #f3f3f3;
  height: $toggle-height2;
  width: $toggle-height2 * 2;
  border-radius: $toggle-height2;
  margin: $toggle-height2 auto;
  position: relative;
  box-shadow: 0 0 0 2px #dddddd;

  .on {
    display: block;
    position: absolute;
    z-index: 0;
    left: 0;
    opacity: 1;
    min-width: 300px;
    line-height: $toggle-height2;
    opacity: 0;
    color: $toggle-color;
  }

  .off {
    display: block;
    position: absolute;
    z-index: 0;
    right: 55px;
    text-align: right;
    opacity: 1;
    min-width: 300px;
    line-height: $toggle-height2;
    opacity: 1;
    color: #bbbbbb;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    border-radius: $toggle-height2;
    height: $toggle-height2;
    width: $toggle-height2;
    background: white;
    box-shadow: 0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
  }
}

.checkbox {
  position: absolute;
  left: -5000px;

  &:checked {
    + .checkbox-label {
      background: $toggle-color;
      box-shadow: 0 0 0 2px $toggle-color;

      .on {
        left: 60px;
        opacity: 1;
      }

      .off {
        right: 0;
        opacity: 0;
      }

      &:before {
        left: 30px;
        box-shadow: 0 3px 3px rgba(0,0,0,.2),0 0 0 2px $toggle-color;
      }
    }
  }
}

// gisaid logos
.gisaid-text {
  font-size: 1.5rem;
}

.gisaid-lg {
    height: 45px;
}

.gisaid {
    height: 40px;
}

.gisaid-md {
    height: 30px;
}

.gisaid-small {
    height: 25px;
}
