// --- loading spinner ---

.loader {
  position: fixed;
  z-index: 100;
  top: calc(50vh - 50px) !important;
  left: calc(50vw - 50px) !important;
}
// --- buttons ---

button {
  line-height: 1.5em;
  font-size: 1em;
  fill: white;
  font-family: $font-family;
  margin-right: 0.25em;
  margin-left: 0.25em;
  margin-bottom: 0.25em;
  border-color: $grey-40;
  cursor: pointer;

  &:focus {
    outline: none !important;
  }

  &.chip {
    border-radius: 1em;
    display: flex;
    align-items: center;
    padding: 2px 8px;
    cursor: pointer;

    &:focus {
      outline: none !important;
    }

    &.chip {
      border-radius: 1em;
      display: flex;
      align-items: center;
      padding: 2px 8px;
      white-space: nowrap;
      cursor: pointer;

      & .remove-btn {
        margin-left: 0.25em;
        font-size: 0.75em;
      }
    }
  }
}

.btn-main-outline a {
  color: $primary-color;

  &:hover {
    color: white !important;
  }
}

.btn-no-outline {
  color: $secondary-color;
  transition: all 0.5s;
  // padding: 0.5rem;
  text-transform: uppercase;

  &:hover {
    background: $primary-color !important;
    color: white;
    text-decoration: none;
  }
}

.all-selected,
.to-add.all-selected,
button.chip:hover {
  background: #6c757d !important;
  color: white;

  & .remove-btn {
    color: $warning-color !important;
  }
}

.to-add {
  background: #DDD !important;

  & .add-btn {
    color: $grey-60 !important;
  }
}

button.chip.to-add:hover {
  background: #DDD !important;
  color: $base-grey;
  cursor: default;
  // background: $primary-color !important;
  & .add-btn {
    color: white !important;
  }
}

.btn-main {
  background: $primary-color !important;
  color: white;
  transition: all 0.5s;
  text-transform: uppercase;

  &:hover {
    background: $secondary-color !important;
    color: white;
  }

  &-outline {
    background: transparent;
    border: $primary-color 2px solid !important;
    color: $secondary-color;
    transition: all 0.5s;
    text-transform: uppercase;

    &:hover {
      background: $primary-color !important;
      color: white;
    }
  }

  &-flat {
    background: transparent;
    border: none !important;
    color: $secondary-color;
    transition: all 0.5s;
    // text-transform:uppercase;
    &:hover {
      background: $primary-color !important;
      color: white !important;
    }
  }
}

.btn-grey {
  background: #DDD !important;
  border: #AAA 1px solid !important;
  color: #888;
  transition: all 0.5s;
  text-transform: uppercase;

  &:hover {
    background: #AAA !important;
    color: white;
    text-decoration: none !important;
  }

  &-flat {
    border: none !important;
    background: #DDD !important;
    color: #666;
    transition: all 0.5s;
    text-transform: uppercase;

    &:hover {
      background: #AAA !important;
      color: white;
      text-decoration: none !important;
    }
  }

  &-outline {
    background: transparent;
    border: #AAA 1px solid !important;
    color: #888;
    transition: all 0.5s;
    text-transform: uppercase;

    &:hover {
      background: #BBB !important;
      color: white;
    }
  }
}

.btn-accent {
  background: $warning-color !important;
  color: white;
  transition: all 0.5s;
  text-transform: uppercase;

  &:hover {
    background: darken($warning-color, 20%) !important;
    color: white;
  }

  &-outline {
    background: transparent;
    border: darken($warning-color, 5%) 2px solid !important;
    color: $warning-color;
    transition: all 0.5s;
    text-transform: uppercase;

    &:hover {
      background: $warning-color !important;
      color: white;
    }
  }

  &-flat {
    background: transparent;
    border: none !important;
    // color: $warning-color;
    transition: all 0.5s;
    // text-transform:uppercase;
    &:hover {
      background: $warning-color !important;
      color: white !important;
    }
  }
}

.btn-accent:disabled {
  background: #CCC !important;
  color: #444 !important;
  cursor: default !important;
}

.btn-outline-secondary:hover {
  background: #6c757d !important;
  color: white;
}

.VOC,
.VOI {
  padding: 0.35rem;
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 1px;
  line-height: 1;
  flex-shrink: 0;
  font-size: small;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  // font-weight: 700;
}

.VOC {
  background: lighten($publication-color, 35%);
  color: $publication-color;
  border-color: $publication-color;
}

.VOI {
  background: lighten($website-color, 40%);
  color: $website-color;
  border-color: $website-color;
}

.voc {
  background: lighten($publication-color, 35%);
  color: $publication-color;
  border-color: $publication-color;
  text-align: center;
}

.voi {
  background: lighten($website-color, 40%);
  color: $website-color;
  border-color: $website-color;
}

.custom {
  background: lighten($primary-color, 70%);
  color: $secondary-color;
}
