// color palette
$primary-color: #42b983;

// greys
$base-grey: #2c3e50;
// #272727;
 // #2c3e50
$grey-90: lighten($base-grey, 10%);
$grey-80: lighten($base-grey, 20%);
$grey-60: lighten($base-grey, 40%);
$grey-40: lighten($base-grey, 60%);

// fonts
$font-family: 'Noto Sans KR','Mada','DM Sans','Public Sans', Avenir, Helvetica, Arial, sans-serif;
// font-family: Avenir, Helvetica, Arial, sans-serif;
// font-family: 'Fira Sans Condensed', ;
// font-family: 'Public Sans', ;
// font-family: 'Noto Sans KR', ;
// font-family: 'DM Sans',;

// accent colors
$warning-color: red;
