// color palette
$primary-color: #114068;
$secondary-color: #126B93;

$lightback: #f1f1f1;

// greys
$base-grey: #2c3e50;
// #272727;
 // #2c3e50
$grey-90: lighten($base-grey, 10%);
$grey-80: lighten($base-grey, 20%);
$grey-70: lighten($base-grey, 30%);
$grey-60: lighten($base-grey, 40%);
$grey-40: lighten($base-grey, 60%);
$grey-30: lighten($base-grey, 70%);
$grey-alpha15: rgba($base-grey, 0.15);

// fonts
$font-family: 'DM Sans', Avenir, Helvetica, Arial, sans-serif;

// accent colors
$warning-color: #D13B62;
$secondary-bright: #d8f2ff;

// <a> link color, from bootstrap
$link-color: #007bff;
$link-hover: #0056b3;

// resource type colors
// analysis: red
.Analysis {
    color: #D13B62;
    fill: #D13B62;
}

.Analysis.light {
    fill: #eeb7c5;
}

.Analysis.dark {
    fill: #9b2443;
}

// dataset: blue
.Dataset {
    color: #126B93;
    fill: #126B93;
}
.Dataset.dark {
    fill: darken(#11537A, 10%);
}

.Dataset.light {
    fill: lighten(#507192, 15%);
}

// coral
$publication-color: #e15759;
.Publication, .ScholarlyArticle {
    color: $publication-color;
    fill: $publication-color;
}
.Publication.dark, .ScholarlyArticle.dark {
    fill: darken($publication-color, 25%);
}

.Publication.light, .ScholarlyArticle.light {
    fill: lighten($publication-color, 25%);
}

// green
// $protocol-color: #76b7b2; // green-blue
$protocol-color: #59a14f;
.Protocol {
    color: $protocol-color;
    fill: $protocol-color;
}
.Protocol.dark {
    fill: darken($protocol-color, 25%);
}

.Protocol.light {
    fill: lighten($protocol-color, 20%);
}

// clinical trial: purple
$clinical-trial-color: #b475a3;
.ClinicalTrial {
    color: $clinical-trial-color;
    fill: $clinical-trial-color;
}
.ClinicalTrial.dark {
    fill: darken($clinical-trial-color, 25%);
}

.ClinicalTrial.light {
    fill: lighten($clinical-trial-color, 20%);
}

// $software-color: #f28e2c; // orange
// $software-color: #76b7b2; // teal
// $software-color: #edc949; // yellow
$software-color: saturate(#9c755f, 10%); // brown
.SoftwareSourceCode {
    color: $software-color;
    fill: $software-color;
}
.SoftwareSourceCode.dark {
    fill: darken($software-color, 15%);
}

.SoftwareSourceCode.light {
    fill: lighten($software-color, 20%);
}

$book-color: #ff98a8; // pink
.Book {
    color: $book-color;
    fill: $book-color;
}
.Book.dark {
    fill: desaturate(darken($book-color, 20%), 45%);
}

.Book.light {
    fill: lighten($book-color, 12%);
}

$other-color: #777; // grey
.MediaObject, .CreativeWork, .ImageObject, .PresentationDigitalDocument, .BreadcrumbList {
    color: $other-color;
    fill: $other-color;
}
.MediaObject.dark, .CreativeWork.dark, .ImageObject.dark, .PresentationDigitalDocument.dark, .BreadcrumbList.dark {
    fill: darken($other-color, 20%);
}

.MediaObject.light, .CreativeWork.light, .ImageObject.light, .PresentationDigitalDocument.light, .BreadcrumbList.light {
    fill: lighten($other-color, 20%);
}

.orange-title {
    color: #f28e2c;
    // color: $warning-color;
    // color: #e15759;
    font-size: 0.9em;
}
