<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="HandheldFriendly" content="True" />
  <meta property="og:locale" content="en_US" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta property="og:url" content="https://outbreak.info/">
  <meta property="og:site_name" content="outbreak.info">
  <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>" />
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>outbreak.info</title>
  <link href="https://fonts.googleapis.com/css?family=DM+Sans:400&display=swap" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="@/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="@/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="@/assets/favicon-16x16.png">
  <link rel="mask-icon" href="@/assets/safari-pinned-tab.svg" color="#126b93">
  <link rel="shortcut icon" href="favicon-32x32.png">
  <meta name="msapplication-TileColor" content="#126b93">
  <meta name="msapplication-config" content="@/assets/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <style type="text/css">
body{font-family:'DM Sans',Avenir,Helvetica,Arial,sans-serif;font-size:1.25rem;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:#2c3e50;margin:0}.nav-hero{background-position:top left;background-repeat:no-repeat;background-size:cover;background-image:url(navback-01.svg)}.bg-grey__lighter{background-color:#507192}.w-100{width:100%!important}.navbar{position:relative;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-align:center;align-items:center;-ms-flex-pack:justify;padding:.75rem 1rem}.navbar-brand{color:#fff;display:inline-block;padding-left:.3125rem;margin-right:1rem;font-size:1.25rem;line-height:inherit;white-space:nowrap}.navbar-icon{padding-top:.3125rem;padding-bottom:.3125rem}.main{padding:1.5rem 2rem}
  </style>
</head>

<body class="bg-light">
  <header id="outbreak-header">
    <nav class="navbar navbar-expand-lg navbar-dark w-100 bg-grey__lighter nav-hero">
        <img src="icon-01.svg" width="30" height="30" class="navbar-icon" alt="Outbreak.info" />
        <span class="navbar-brand">outbreak.info</span>
  </header>

  <section class="main">
    <h1>Sorry, outbreak.info is down for maintenance.</h1>
    <p>
      Please check back in a few minutes. Sorry for the inconvenience!
    </p>
    </p>
  </section>

</body>

</html>
